<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DEMO</title>
    <script src="vue.min.js"></script>
</head>
<body>
<div id="app">
    <input v-model="val" @keyup.ctrl.enter="add"/>
    <ul>
        <li v-for="(a,index) in arr">{{a}} <button @click="remove(index)">删除</button></li>
    </ul>
</div>
<script>
    new Vue({   //创建一个Vue的实例  
        el: "#app", //挂载点是id="app"的地方
        data: {   
        arr:[],  //数据
        val:''
        },
        methods:{
            add(e){

                this.arr.unshift(this.val);
                this.val=''
             
            },
            remove(i){
              this.arr= this.arr.filter((item,index)=>index!==i)
            }
        }
    })
</script>
</body>
</html>
